<table>
 
    <tr>
      <th>Name</th>
      <th>age</th>
      <th>birth_year</th>
      <th>nickname</th>
      <th colspan="3"></th>
    </tr>
 


  <tr>
    <td><%= @per.name %></td>
    <td><%= @per.age %></td>
    <td><%= @per.birth_year %></td>
    <td><%= @per.nickname %></td>
    
  </tr>

</table>